# .NET Core
## Paketler
project.lock.json
project.fragment.lock.json
artifacts/

# Visual Studio for Mac
.vscode/

# .NET Core build output
bin/
obj/

# ASP.NET Core
wwwroot/

# Node.js
node_modules/

# Angular build output
/dist/
build/

# Yarn lock file
yarn.lock

# Windows
Thumbs.db
ehthumbs.db

# VSCode settings
.vscode/

# macOS
.DS_Store

# Npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# JetBrains Rider
.idea/

# Logs
logs/
*.log

# Temporary files
*.bak
*.swp

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Angular
e2e/            
protractor.conf.js  
webdriver-manager/  